<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />    </startup>
  <appSettings>
    <!--是否使用投影仪控制功能，程序中使用的是打开程序即打开投影仪，如果未连接投影仪会弹窗报错-->
    <add key="PjAutoControlIsEnable" value="true"/>
    <!--主控PC IP地址-->
    <add key="MainControlPC_IP" value="192.168.0.130"/>
    <!--主控PC UDP通信本地端口-->
    <add key="MainControlPC_Port"  value="10000"/>

    <!--PLC IP地址-->
    <add key="PLC_IP" value="192.168.0.120"/>
    <!--PLC UDP通信本地端口-->
    <add key="PLC_Port"  value="5000"/>
    
    <!--1号设备相关-->
        <!--1号平台主控板IP地址-->
        <add key="CB_IP_NUM1" value="192.168.0.125"/>
        <!--1号平台主控板UDP通信本地端口-->
        <add key="CB_PORT_NUM1"  value="5000"/>
    
        <!--1号游戏主机IP地址-->
        <add key="GamePC_IP_Num1" value="192.168.0.131"/>
    <!--1号游戏主机UDP通信本地端口-->
    <add key="GamePC_Port_Num1"  value="10000"/>

    <!--1号设备1号投影仪IP地址-->
    <add key="Projector_IP_Dev1Num1" value="192.168.0.161"/>
    <!--1号设备1号投影仪 TPC通信服务器端口-->
    <add key="Projector_Port_Dev1Num1"  value="4352"/>

    <!--1号设备2号投影仪IP地址-->
    <add key="Projector_IP_Dev1Num2" value="192.168.0.162"/>
    <!--1号设备2号投影仪 TPC通信服务器端口-->
    <add key="Projector_Port_Dev1Num2"  value="4352"/>
    
    <!--2号平台主控板IP地址-->
    <add key="CB_IP_NUM2" value="192.168.0.126"/>
    <!--2号平台主控板UDP通信本地端口-->
    <add key="CB_PORT_NUM2"  value="5000"/>

    <!--2号游戏主机IP地址-->
    <add key="GamePC_IP_Num2" value="192.168.0.132"/>
    <!--2号游戏主机UDP通信本地端口-->
    <add key="GamePC_Port_Num2"  value="10000"/>

    <!--2号设备1号投影仪IP地址-->
    <add key="Projector_IP_Dev2Num1" value="192.168.0.163"/>
    <!--2号设备1号投影仪 TPC通信服务器端口-->
    <add key="Projector_Port_Dev2Num1"  value="4352"/>

    <!--2号设备2号投影仪IP地址-->
    <add key="Projector_IP_Dev2Num2" value="192.168.0.164"/>
    <!--2号设备2号投影仪 TPC通信服务器端口-->
    <add key="Projector_Port_Dev2Num2"  value="4352"/>
    
    <!--3号平台主控板IP地址-->
    <add key="CB_IP_NUM3" value="192.168.0.127"/>
    <!--3号平台主控板UDP通信本地端口-->
    <add key="CB_PORT_NUM3"  value="5000"/>

    <!--3号游戏主机IP地址-->
    <add key="GamePC_IP_Num3" value="192.168.0.133"/>
    <!--3号游戏主机UDP通信本地端口-->
    <add key="GamePC_Port_Num3"  value="10000"/>

    <!--3号设备1号投影仪IP地址-->
    <add key="Projector_IP_Dev3Num1" value="192.168.0.165"/>
    <!--3号设备1号投影仪 TPC通信服务器端口-->
    <add key="Projector_Port_Dev3Num1"  value="4352"/>

    <!--3号设备2号投影仪IP地址-->
    <add key="Projector_IP_Dev3Num2" value="192.168.0.166"/>
    <!--3号设备2号投影仪 TPC通信服务器端口-->
    <add key="Projector_Port_Dev3Num2"  value="4352"/>
    
    <!--4号平台主控板IP地址-->
    <add key="CB_IP_NUM4" value="192.168.0.128"/>
    <!--4号平台主控板UDP通信本地端口-->
    <add key="CB_PORT_NUM4"  value="5000"/>

    <!--4号游戏主机IP地址-->
    <add key="GamePC_IP_Num4" value="192.168.0.134"/>
    <!--4号游戏主机UDP通信本地端口-->
    <add key="GamePC_Port_Num4"  value="10000"/>

    <!--4号设备1号投影仪IP地址-->
    <add key="Projector_IP_Dev4Num1" value="192.168.0.167"/>
    <!--4号设备1号投影仪 TPC通信服务器端口-->
    <add key="Projector_Port_Dev4Num1"  value="4352"/>

    <!--4号设备2号投影仪IP地址-->
    <add key="Projector_IP_Dev4Num2" value="192.168.0.168"/>
    <!--4号设备2号投影仪 TPC通信服务器端口-->
    <add key="Projector_Port_Dev4Num2"  value="4352"/>
  </appSettings>
</configuration>